<div class="header">
  <h1>To Do List</h1>
  <p>This is a take-home interview test.</p>
</div>

<!-- Conditional rendering of to-do items -->
<div *ngIf="toDos.length > 0; else loading">
  <div class="task-container">
    <div *ngFor="let item of toDos" class="task-card">
      <div class="task-content">
        <h3>Task: {{ item.task }}</h3>
        <p>Description: {{ item.description }}</p>
      </div>
      <div class="task-actions">
        <label>
          Completed: <input type="checkbox" [(ngModel)]="item.isComplete">
        </label>
        <button (click)="deleteItem(item.id)">Delete</button>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <p *ngIf="!toDos.length"><em>No tasks found. Add some tasks!</em></p>
  </ng-template>
</div>

<!-- Loading or empty list fallback -->
<ng-template #loading>
  <p *ngIf="!toDos.length"><em>No tasks found. Add some tasks!</em></p>
</ng-template>